@import 'bootstrap/scss/bootstrap';
@import 'react-toastify/scss/main';
@import 'toastify';

#App {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	position: relative;
}

.center-y {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.fetching-spinner {
	position: absolute;
	right: 80px;
	top: 40px;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0.5em;
}

.image-card {
	&.mutating {
		opacity: 0.5;
	}

	.card-header {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.image-filename {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}

	.card-img-top {
		aspect-ratio: 1;
		object-fit: cover;
	}

	.card-footer {
		color: #6c757d;
		font-size: small;
		text-align: right;
	}
}
