@import 'bootstrap/scss/bootstrap';
@import 'react-toastify/sccs/main';
@import 'toastify';

#App {
	position: relative;
}

.fetching-spinner {
	position: absolute;
	right: 80px;
	top: 40px;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0.5em;
}

.completed {
	color: $gray-500;
	text-decoration: line-through;
	font-style: italic; 
}